*.vvp
*.vcd

*.o

*.sublime-project
*.sublime-workspace

Python/__pycache__/*
*.command
*.out
*.pyc

thesis_des/*
xgui
ip_repo/edit_*
webtalk
RemoteSystemsTempFiles
.metadata
.settings
.Xil
standalone_bsp_0
c/src/src
des_test_bsp
design_1_wrapper_hw_platform_0
Debug
.sdk
.temp

Xilinx.spec
lscript.ld

*.jou
*.log
*.str

*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.srcs
*.tmp
*.hdf


test_axi_3
axi_test_old



